@import url('https://fonts.googleapis.com/css2?family=Della+Respira&family=Italiana&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yeseva+One&display=swap');

*{
  margin:0;
  padding:0;
  scroll-behavior:smooth;
  box-sizing: border-box;
}

/* Untuk Webkit Browsers */
::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background-color: black;
	background: rgb(67, 66, 66);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(31.6px);
	-webkit-backdrop-filter: blur(11.6px);
}

::-webkit-scrollbar-thumb {
	background-color: #777777;
	border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #ced4d7;
}

/* Untuk Firefox Browsers */
::-moz-scrollbar {
	width: 10px;
}

::-moz-scrollbar-track {
	background-color: black;
}

::-moz-scrollbar-thumb {
	background-color: #777777;
	border-radius: 5px;
}

::-moz-scrollbar-thumb:hover {
    background-color: #ced4d7;
}

body{
    height: fit-content;
    width: 100%;
    background-color: #111111;
    overflow-x: hidden;
}
a{
    text-decoration: none;
}


.navbar{
    background-color: transparent;
    backdrop-filter: blur(10px);
    padding: 10px 0px;
    transition: .3s ease-in-out;
    transform: translateY(0);
}

.navbar.scrl{
    transform: translateY(-100%);
}

.navbar .container{
    width: 80%;
}

.navbar-brand{
    font-family: "Poppins";
    text-transform: uppercase;
    font-weight: 700;
    color: #CED4D7;
}
.navbar-brand:hover{
    color: #CED4D7;
}

.navbar-nav .nav-link.active{
    color: #CED4D7;
    font-family: "Poppins";
    font-weight: 500;
    margin: 0px 20px;
    text-shadow: 0px 0px 10px rgba(0,0,0,.4);
}
.navbar-nav .nav-link.active:hover{
    color: #ffffff;

}

.header-section{
    width: 100%;
    height: fit-content;
    display: flex;
    background: url(../img/heo-bg.png);
    background-size: cover;
    background-position: center;
    padding:100px 0px 50px 0px;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
}
.header-section .container{
    width: 80%;
    height: 80%;
}
.header-section .container .row{
    height: 100%;
}
.header-section .container .row .col-md-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header-section .container .row .col-md-6 h1{
    color: #CED4D7;
    font-family: "Poppins";
    font-weight: 700;
    font-size: 50px;
    height: fit-content;
    width: fit-content;
    margin: -20px 0px 0px 0px;
}
.header-section .container .row .col-md-6 p{
    color: #888888;
    font-family: "Poppins";
    font-weight: 500;
    font-size: 25px;
    height: fit-content;
    width: fit-content;
}
.header-section .container .row .col-md-6 a{
    padding: 7px 17px;
    background-color: #455A64;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 600;
    font-family: 'Poppins';
    height: fit-content;
    width: fit-content;
    margin: 20px 0px 0px 0px;
    transition: .3s ease-in-out;
}
.header-section .container .row .col-md-6 a:hover{
    background-color: #CED4D7;
    color: #222222;
}

#about{
    height: fit-content;
    padding: 5vh 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#about .container h1{
    color: #CED4D7;
    font-family: 'Poppins';
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
    display: flex;
    justify-content: left;
    height: fit-content;
    margin: 30px 0px 30px 0px;
    align-items: center;
}
#about .container{
    width: 80%;
    height: fit-content;
}
#about .container .row{
    width: 100%;
    height: 420px;
}
#about .container .row .col-md-4 img{
    width: 90%;
    border-radius: 20px;
}
#about .container .row .col-md-8{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}
#about .container .row .col-md-8 p,
#about .container .row .col-md-8 b,
#about .container .row .col-md-8 .txtula{
    color: #a6adba;
}
#about .container .row .col-md-8 p{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 20px;
    text-align: justify;
    height: fit-content;
}

.cv a{
    text-decoration: none;
    background-color: #1F2937;
    border-radius: 5px;
    box-shadow: 3px 3px 0px rgb(35, 46, 51);
    padding: 10px 20px;
    color: #ffffff;
    transition: .3s ease-in-out;
    font-family: 'Poppins';
    font-weight: 400;
}
.cv a i{
    margin-left: 10px;
}
.cv a:hover{
    background-color: #1a1a1a;
    color: #ffffff;
    box-shadow: 3px 3px 0px #111111;
}
#about .container .row .col-md-8 .row{
    display: flex;
    justify-content: space-between;
    height: fit-content;
    flex-wrap: wrap;
}
#about .container .row .col-md-8 .row .card{
    background:linear-gradient(135deg,#1a1a1a,#111111);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    width: 29%;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 2px rgba(255,255,255,.1);
    margin: 0px 10px;
}
#about .container .row .col-md-8 .row .card p{
    width: 100%;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
}
#about .container .row .col-md-8 .row .card h3{
    color: #ffffff;
    font-weight: 800;
}

#tabs{
    width: 100%;
    height: fit-content;
    padding: 10vh 0px;
}

#tabs .container{
    width: 80%;
    height: fit-content;
}

#tabs .container .nav{
    background:linear-gradient(165deg,#191919,#111111,#111111,#111111,#191919);
    width: 100%;
    box-shadow: 0px 0px 2px rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    border-radius: 10px;
    height: fit-content;
    margin: 50px 0px;
    border: none;
}
#tabs .container .nav .nav-link{
    border-radius: 0;
    font-size: 30px;
    text-transform: uppercase;
    padding: 10px 40px;
    border: none;
    font-family: 'Poppins';
    font-weight: 700;
    color: #CED4D7;
    transition: .3s ease-in-out;
}
#tabs .container .nav .nav-link.active{
    background-color: transparent;
    color: #455A64;
    border-bottom: 4px solid #455A64;
}
#tabs .container #nav-project .row,
#tabs .container #nav-certificate .row,
#tabs .container #nav-tech .row{
    display: flex;
    gap: 2%;
}
#tabs .container #nav-project .row{
    flex-wrap: wrap;
}
#tabs .container #nav-project .row .card{
    width: 32%;
    background: linear-gradient(135deg,#434343,#333333);
    box-shadow: 0px 0px 5px rgba(255,255,255,.1);
    padding: 20px 20px;
    border-radius: 20px;
    height: fit-content;
    margin: 10px 0px;
}
#tabs .container #nav-project .row .card img{
    border-radius: 20px;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0,0,0,.2);
    font-family: 'Poppins';
}
#tabs .container #nav-project .row .card .card-body{
    width: 100%;
    height: fit-content;
    padding: 10px 0px; 
}
#tabs .container #nav-project .row .card .card-body h5{
    color: #CED4D7;
    font-weight: 600;
    font-size: 25px;
}
#tabs .container #nav-project .row .card .card-body p{
    font-weight: 400;
    font-size: 18px;
    text-align: justify;
    width: 100%;
    color: #a6adba;
    height: 110px;
}
#tabs .container #nav-project .row .card .card-body a{
    width: 100%;
    background-color: #455A64;
    color: #CED4D7;
    border: none;
    margin: 10px 0px;
    height: fit-content;
    padding: 12px 0px;
}
#tabs .container #nav-certificate .row{
    flex-wrap: wrap;
}
#tabs .container #nav-certificate .row .card{
    width: 32%;
    background: linear-gradient(135deg,#434343,#333333);
    box-shadow: 0px 0px 5px rgba(255,255,255,.1);
    padding: 20px 20px;
    border-radius: 20px;
    height: fit-content;
    margin: 10px 0px;
}
#tabs .container #nav-certificate .row .card img{
    border-radius: 20px;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0,0,0,.2);
    font-family: 'Poppins';
}
#tabs .container #nav-certificate .row .card .card-body{
    width: 100%;
    height: fit-content;
    padding: 10px 0px; 
}
#tabs .container #nav-certificate .row .card .card-body h5{
    color: #CED4D7;
    font-weight: 600;
    font-size: 25px;
    height: 60px;
}

#tabs .container #nav-tech .row{
    flex-wrap: wrap;
}
#tabs .container #nav-tech .row .card{
    width: 18%;
    background: linear-gradient(135deg,#434343,#333333);
    box-shadow: 0px 0px 5px rgba(255,255,255,.1);
    padding:10px 0px;
    border-radius: 20px;
    height: 200px;
    margin: 10px 0px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}
#tabs .container #nav-tech .row .card .image{
    height: 150px;
    width: 120px;
    overflow: hidden;
}
#tabs .container #nav-tech .row .card img{
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0px 0px 10px rgba(0,0,0,.2);
    font-family: 'Poppins';
}
#tabs .container #nav-tech .row .card .card-body{
    width: 100%;
    height: fit-content;
    padding: 10px 0px; 
}
#tabs .container #nav-tech .row .card .card-body h5{
    color: #CED4D7;
    font-weight: 600;
    text-align: center;
    font-size: 20px;
}





#contact{
    height: fit-content;
    padding: 5vh 0px;
    width: 100%;
    padding-bottom: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#contact .container h1{
    color: #CED4D7;
    font-family: 'Poppins';
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
    display: flex;
    justify-content: left;
    height: fit-content;
    margin: 30px 0px 30px 0px;
    align-items: center;
}
#contact .container{
    width: 80%;
    height: fit-content;
}
#contact .container .row{
    width: 100%;
    height: 420px;
}
#contact .container .row .col-md-4 img{
    width: 90%;
    border-radius: 20px;
}
#contact .container .row .col-md-7{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}
#contact .container .row .col-md-7 p{
    color: #a6adba;
}
#contact .container .row .col-md-7 p{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 20px;
    text-align: justify;
    height: fit-content;
}

#contact .container .row .col-md-7 form{
    width: 100%;
}
#contact .container .row .col-md-7 form .frm{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    height: fit-content;
    padding: 10px 0px;
}
#contact .container .row .col-md-7 form .frm label{
    margin: 10px 0px;
    color:#CED4D7;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 20px;
}
#contact .container .row .col-md-7 form .frm input{
    padding: 10px 0px 10px 20px;
    width: 100%;
    border-radius: 10px;
    background-color: #CED4D7;
}
#contact .container .row .col-md-7 form .frm textarea{
    width: 100%;
    padding: 10px 0px 10px 20px;
    border-radius: 10px;
    height: 180px;
    background-color: #CED4D7;
    margin: 0px 0px 20px 0px;
    resize: none;
}
#contact .container .row .col-md-7 form button{
    padding: 10px 20px;
    border-radius: 10px;
    color: #CED4D7;
    background-color: #455A64;
    font-weight: 500;
}

.navbar-toggler{
    border: none;
    background-color: #CED4D7;
}
